# ========== Java / Spring Boot ==========
**/target/
**/build/
**/.gradle/
**/out/
**/*.log
**/*.class

# ========== Python / Streamlit ==========
**/venv/
**/.env/
**/env/
**/__pycache__/
**/*.pyc
**/*.db
**/*.sqlite3

# ========== IDEs y archivos del sistema ==========
**/.idea/
**/.vscode/
**/*.iml
.DS_Store
Thumbs.db

/generatedProjects/generatedproject/
/bpmGenerator/uploads/